@{
    ViewData["Title"] = "Home Page";
}

<form method="post" enctype="multipart/form-data" asp-controller="file" asp-action="FileSave">

<input type="file">
<input type="submit"  value="tijiao" >
</form>